*{
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/pink.png');
    color: #22FF22;
    font-size: 12px;
}

img{
    mix-blend-mode: multiply;
}

video{
    mix-blend-mode: multiply;
}